*.bak
*.tmp
*.log

nextBuildNumber
lastStable
lastSuccessful
last*Build
.owner
identity.key
secret.key
secret.key.*
jenkins.war
workspace

/fingerprints
/logs
/userContent/MoSyncRepos
/userContent/readme.txt
/plugins
/storage
/updates
/users
/war
/queue.xml
/nodeMonitors.xml
/hudson.*.xml
/com.*.xml
/jre
/jenkins.xml
/jenkins.*.xml
/jenkins.exe
/jenkins.exe.*
/secrets
/startJenkins
