<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Builds the HTML5/Wormhole documentation on a Mac</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>7</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>7</artifactDaysToKeep>
    <artifactNumToKeep>30</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>mac106</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.27">
      <project>Prepare_MoSync_Source_Tarball</project>
      <filter>MoSyncSrc.tar.bz2</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>lastBuild</id>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>mkdir mosync-trunk
cd mosync-trunk
tar -xjf ../MoSyncSrc.tar.bz2
exit 0
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd mosync-trunk/libs/Wormhole/jslib
chmod +x buildJSDocumentation.rb
ruby buildJSDocumentation.rb
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mkdir MoSyncPackage
mkdir MoSyncPackage/eclipse
mkdir MoSyncPackage/eclipse/plugins
mkdir MoSyncPackage/eclipse/plugins/com.mobilesorcery.sdk.help_1.0.0
mkdir MoSyncPackage/eclipse/plugins/com.mobilesorcery.sdk.help_1.0.0/docs
cp -r mosync-trunk/libs/Wormhole/jslib/html5 MoSyncPackage/eclipse/plugins/com.mobilesorcery.sdk.help_1.0.0/docs
cd MoSyncPackage
zip -r9 $WORKSPACE/HTML5Doc.zip eclipse</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>HTML5Doc.zip</artifacts>
      <latestOnly>true</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets></targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.15">
      <deleteDirs>false</deleteDirs>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>