<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Builds the iOS runtime on a Mac</description>
  <logRotator>
    <daysToKeep>7</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>7</artifactDaysToKeep>
    <artifactNumToKeep>30</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>ios</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.25">
      <projectName>Prepare_MoSync_Source_Tarball</projectName>
      <filter>MoSyncSrc.tar.bz2</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>lastBuild</id>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>mkdir mosync-trunk
cd mosync-trunk
tar -xjf ../MoSyncSrc.tar.bz2</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>##cd %WORKSPACE%\mosync-trunk
##ruby workfile.rb base CONFIG=

cd $WORKSPACE/mosync-trunk/intlibs/idl-common
ruby workfile.rb CONFIG=

cd $WORKSPACE/mosync-trunk/intlibs/filelist
ruby workfile.rb CONFIG=

cd $WORKSPACE/mosync-trunk/tools/idl2
ruby workfile.rb CONFIG=

cd $WORKSPACE/mosync-trunk/tools/idl2
MOSYNCDIR=$WORKSPACE/mosync-trunk build/release/idl2

cd $WORKSPACE/mosync-trunk/intlibs/bluetooth
ruby workfile.rb CONFIG=</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd $WORKSPACE/mosync-trunk/libs
MOSYNCDIR=$WORKSPACE/mosync-trunk/ ruby prepareMAStdNative.rb || echo &quot;no prepareMAStdNative.rb script&quot;
cd $WORKSPACE

mkdir MoSyncPackage
mkdir MoSyncPackage/profiles
mkdir MoSyncPackage/profiles/runtimes
mkdir MoSyncPackage/profiles/runtimes/iphoneos
mkdir MoSyncPackage/profiles/runtimes/iphoneos/1
mkdir MoSyncPackage/profiles/runtimes/iphoneos/1/template

cd $WORKSPACE/mosync-trunk/runtimes/cpp/platforms/iphone
cp Classes/impl/config_platform.h.example Classes/impl/config_platform.h
MOSYNCDIR=$WORKSPACE/MoSyncPackage ruby buildLibraries.rb</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd $WORKSPACE

cd MoSyncPackage
zip -r9 $WORKSPACE/iOSRuntimes.zip profiles lib</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>iOSRuntimes.zip</artifacts>
      <latestOnly>true</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets></targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.10">
      <deleteDirs>false</deleteDirs>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>