<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Builds any runtimes that can be built on Linux</description>
  <logRotator>
    <daysToKeep>7</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>7</artifactDaysToKeep>
    <artifactNumToKeep>30</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>linux</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.25">
      <projectName>Prepare_MoSync_Source_Tarball</projectName>
      <filter>MoSyncSrc.tar.bz2</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>lastBuild</id>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>mkdir mosync-trunk
tar --directory=mosync-trunk -xjf MoSyncSrc.tar.bz2</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>##cd %WORKSPACE%\mosync-trunk
##ruby workfile.rb base CONFIG=

cd $WORKSPACE/mosync-trunk/intlibs/idl-common
ruby workfile.rb CONFIG=

cd $WORKSPACE/mosync-trunk/intlibs/filelist
ruby workfile.rb CONFIG=

cd $WORKSPACE/mosync-trunk/tools/idl2
ruby workfile.rb CONFIG=

cd $WORKSPACE/mosync-trunk/tools/idl2
MOSYNCDIR=$WORKSPACE/mosync-trunk build/release/idl2

cd $WORKSPACE/mosync-trunk/intlibs/bluetooth
ruby workfile.rb CONFIG=</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd $WORKSPACE/mosync-trunk/tools/ProfileConverter
fromdos profiles.sql
cd $WORKSPACE/mosync-trunk/tools/ConcurrentBuild
cp $WORKSPACE_ROOT/Settings.rb $WORKSPACE/mosync-trunk/tools/RuntimeBuilder/Settings.rb
ruby ConcurrentBuild.rb $WORKSPACE/mosync-trunk $WORKSPACE/mosync-trunk android moblin javame

cd $WORKSPACE/mosync-trunk/libs
MOSYNCDIR=$WORKSPACE/mosync-trunk/ ruby prepareMAStdNative.rb || echo &quot;no prepareMAStdNative.rb script&quot;

cd $WORKSPACE/mosync-trunk/intlibs/profiledb
MOSYNCDIR=$WORKSPACE/mosync-trunk/ ruby workfile.rb CONFIG=&quot;&quot; || echo &quot;could not build profiledb intlib&quot;

cd $WORKSPACE/mosync-trunk/intlibs/mustache || echo &quot;no mustache in this repo&quot;
MOSYNCDIR=$WORKSPACE/mosync-trunk/ ruby workfile.rb CONFIG=&quot;&quot; || echo &quot;could not build profiledb intlib&quot;

cd $WORKSPACE/mosync-trunk/tools/profiledb
MOSYNCDIR=$WORKSPACE/mosync-trunk/ ruby workfile.rb CONFIG=&quot;&quot; || echo &quot;could not build profiledb&quot;

cd $WORKSPACE/mosync-trunk/tools/nbuild || echo &quot;no nbuild in this repo&quot;
MOSYNCDIR=$WORKSPACE/mosync-trunk/ ruby workfile.rb CONFIG=&quot;&quot;|| echo &quot;could not build nbuild&quot;

cd $WORKSPACE/mosync-trunk/runtimes/java/platforms/androidJNI
MOSYNCDIR=$WORKSPACE/mosync-trunk/ ruby buildLibs.rb @ || echo &quot;no buildLibs.rb file in this repo&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd $WORKSPACE

cd mosync-trunk
zip -r9 $WORKSPACE/LinuxRuntimes.zip profiles lib</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>LinuxRuntimes.zip</artifacts>
      <latestOnly>true</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets></targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.10">
      <deleteDirs>false</deleteDirs>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>